.add-patient-page
{
  .container
  {
    align-items: center;
    //min-height: 90vh;
    display: flex;
    justify-content: center;
  }
  .heading-page
  {
    margin-top: 1%;
    font-size: 150%;
    font-weight: 500;
  }
  .mat-card{
    margin-top: 10px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;

    .add-patient-card-content
    {
      margin: 0;
    }
  }
  .title
  {
    padding: 0px;
    font-weight: 500;
    font-size: 120%;
    //background-color: rgb(194, 194, 194);
  }
  .btn-save
  {
    font-size: 120%;
    padding: 0px 25px 0px 25px;
    font-weight: 500;
  }
}

mat-spinner {
  margin: 10% auto;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
