<div class="add-patient-page">
  <div class="container-fluid">
    <div class="row">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div class="heading-page">
        <span>Add Patient</span>
      </div>
      <form [formGroup]='form' (submit)="onSavePost()" *ngIf="!isLoading">
        <mat-card class=add-patient-card>
          <mat-card-content class="add-patient-card-content">
            <div class="row">
              <!-- Personal details -->
              <div class="col-md-6 bg-light p-3">
                <div class="title p-0">
                  <span>Personal</span>
                </div>
                <div class="forms">
                  <!-- Title and Name -->
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <mat-label>Title</mat-label>
                        <mat-select formControlName="title">
                          <mat-option value=Mr>Mr</mat-option>
                          <mat-option value=Mrs>Mrs</mat-option>
                          <mat-option value=Ms>Ms</mat-option>
                          <mat-option value=Master>Master</mat-option>
                          <mat-option value=Mr>Dr</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('title').invalid">select a title</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Name" name="name" formControlName=name>
                        <mat-error *ngIf="form.get('name').invalid">Enter your name</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- Email-id and Contact Number -->
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=email placeholder="Email-id" name="emailId" formControlName=emailId>
                        <mat-error *ngIf="form.get('emailId').invalid">Enter your email id</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Contact No" name="contactNo" formControlName=contactNo>
                        <mat-error *ngIf="form.get('contactNo').invalid">Select date</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- Gender and Martial status -->
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <mat-label>Gender</mat-label>
                          <mat-select formControlName="gender">
                            <mat-option value=male>Male</mat-option>
                            <mat-option value=female>Female</mat-option>
                            <mat-option value=other>Other</mat-option>
                          </mat-select>
                          <mat-error *ngIf="form.get('gender').invalid">Select gender</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="form-field">
                          <mat-label>Martial status</mat-label>
                          <mat-select formControlName="martialStatus">
                            <mat-option value=single>Single</mat-option>
                            <mat-option value=married>Married</mat-option>
                            <mat-option value=divorced>Divorced</mat-option>
                            <mat-option value=divorced>Other</mat-option>
                          </mat-select>
                          <mat-error *ngIf="form.get('martialStatus').invalid">Select martial status</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- DOB and Age -->
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <mat-label>DOB</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="form.get('dob').invalid">Select date</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Age" name="age" formControlName=age>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- Height and Weight -->
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Height" name="height" formControlName=height>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Weight" name="weight" formControlName=weight>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- BMI and Blood Group -->
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="BMI" name="bmi" formControlName=bmi>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Blood group" name="bloodGroup" formControlName=bloodGroup>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Other details -->
              <div class="col-md-6 p-3">
                <div class="title p-0">
                  <span>Other</span>
                </div>
                <div class="forms">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Alcohol consumption" name="alcoholConsumption" formControlName=alcoholConsumption>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Smoking Habits" name="smokingHabits" formControlName=smokingHabits>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Allergies" name="allergies" formControlName=allergies>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Current Medications" name="currentMedications" formControlName=currentMedications>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="form-field">
                        <input matInput type=text placeholder="Past Medications" name="pastMedications" formControlName=pastMedications>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <button type=submit mat-raised-button color=primary class="btn-save mt-4 float-right">Save</button>
      </form>
    </div>
  </div>
</div>










