<div class="login-page">
  <div class="container">
    <mat-card class="login-card mat-elevation-z7">
      <mat-card-content class="login-card-content">
        <div class="login-f">
          <div class="col-md text-center">
            <div class="title">
              <span class="text">LOGIN</span>
            </div>
            <div class="form-fields">
              <form class="form" #loginForm="ngForm" (submit)="onLogin(loginForm)">
                <mat-form-field class="form-field" appearance=outline>
                  <mat-label>Email-id</mat-label>
                  <input matInput type=email name=email ngModel #emailInput="ngModel" required email>
                </mat-form-field>
                <mat-form-field class="form-field" appearance=outline>
                  <mat-label>Password</mat-label>
                  <input matInput type=password name=password ngModel #passwordInput="ngModel" required>
                </mat-form-field>
                <div class="login-b">
                  <button mat-raised-button class="l-btn mat-elevation-z5">
                    Sign in
                  </button>
                </div>
              </form>
              <div class="bottom-text">
                <span>
                  Don't have an account,
                  <a routerLink="/signup">
                      <span class="a-text">Sign up</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
