<mat-toolbar class="mat-elevation-z8 toolbar">
  <span class="example-spacer"></span>
  <div class="user-profile">
    <div class="row">
    <ul>
      <li>
        <button mat-mini-fab color=basic class="notification-button"><mat-icon class="mat-icon" inline=true>notifications</mat-icon></button>
      </li>
      <li>
        <button mat-mini-fab color=basic class="chat-button"><mat-icon class="mat-icon" inline=true>chat_bubble_outline</mat-icon></button>
      </li>
      <li>
        <button mat-button class="user-button" [matMenuTriggerFor]="menu">
          <img class=profile-img src="../../../../assets/icons/homePageIcon.png" width="50px">
          Dr. Paul Agard
          <mat-icon inline=true class="mat-icon">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
  </div>
</mat-toolbar>

