<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer color=primary class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button
      class="nav-bar-toggle-button"
      mat-icon-button
      aria-label="Toggle sidenav"
      (click)="drawer.toggle()"
      *ngIf="(isHandset$ | async) === false">
      <mat-icon>menu</mat-icon>
    </button>
    </mat-toolbar>
    <a routerLink="/add-patient">
      <button mat-flat-button color= basic class="create-patient-button">
        Create Patient
        <!-- <img class=img-icon src="../../../../assets/icons/add-button.png" width="20px"> -->
      </button>
    </a>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        Dashboard
        <img class=img-icon src="../../../../assets/icons/dashboard.png" width="25px">
      </a>
      <a mat-list-item routerLink="/patients">My Patients
        <img class=img-icon src="../../../../assets/icons/patient.png" width="25px">
      </a>
      <a mat-list-item routerLink="#">My Appointments</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="basic">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
  <div class="user-profile">
    <div class="row">
    <ul>
      <li>
        <button mat-mini-fab color=basic class="notification-button"><img src="./../../../../assets/icons/bell.png" width="20px"></button>
      </li>
      <li>
        <button mat-mini-fab color=basic class="chat-button"><img src="./../../../../assets/icons/chat.png" width="20px"></button>
      </li>
      <li>
        <button mat-button class="user-button" [matMenuTriggerFor]="menu">
          <img class=profile-img src="../../../../assets/icons/homePageIcon.png" width="50px">
          Dr. Paul Agard
          <mat-icon inline=true class="mat-icon">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a routerLink="/my-profile">
            <button mat-menu-item>
              <mat-icon>person_outline</mat-icon>
              <span>My profile</span>
            </button>
          </a>
          <button mat-menu-item>
            <mat-icon>settings_outline</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
  </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
